<div id="title-row" class="row">
  <h3 id="view-details-name"></h3>
</div>

<div id="details-row" class="row">
  <div class="details-item">
    <img id="view-details-img-view">
  </div>

  <div class="details-item">
    <h4 id="view-details-facts-title">Fun Facts</h4>
    <p id="view-details-facts-body"></p>
  </div>
</div>

<div id="buttons-row" class="row">
  <button type="button" id="view-details-sound-button"
    class="btn btn-success">Play Sound</button>

  <button type="button" id="view-details-back-button"
    class="btn btn-info">Back</button>
</div>
