#view-details {
  padding-top: 1%;
  padding-bottom: 3%;

  display: none;

  background-color: #cff;
}

#view-details.view-details-show {
  display: block;

  border: 1px solid #ccc;
}

#view-details #details-row .details-item {
  display: inline-block;

  margin-left: 5%;
  margin-right: 5%;

  max-height: 40vh;
  width: 39%;

  text-align: center;
  vertical-align: top;
}

#view-details #details-row .details-item img {
  max-height: 40vh;
  max-width: 100%;
}

#view-details-facts-title {
  color: #909;
}

#view-details-name {
  color: #909;

  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

#view-details #buttons-row {
  margin-top: 1%;
  text-align: center;
}
